html {
  scroll-behavior: smooth;
}

body {
  margin: 0;
  padding: 0;
  font-family: var(--font-text);
  background-color: var(--color-background);
  min-height: 100vh;
  overflow-x: hidden;
  display: flex;
  flex-direction: column;
  position: relative;
  z-index: 0;
}

body::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-image: url("https://ik.imagekit.io/a8ydbgcop/Flores%20para%20decorar%20mi%20portfolio.png?updatedAt=1746818689659");
  background-repeat: repeat-y;
  background-size: 100vw auto;
  background-position: top center;
  opacity: 0.3;
  z-index: -1;
  pointer-events: none;
}

img {
  max-width: 100%;
  height: auto;
  display: block;
}

h1,
h2 {
  font-family: var(--font-text);
  margin: 0;
}

a {
  text-decoration: none;
  color: inherit;
}

main {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
  margin: 92px 11.5rem;
  box-sizing: border-box;
}
