/* Estilos para pantallas grandes */
@media (min-width: 1024px) {
  .main-nav {
    width: 31.25rem;
  }

  .main-nav-ul {
    gap: clamp(1rem, 8vw, 7.75rem);
  }

  .about-me {
    padding-block: 5.75rem;
    border-radius: 4.125rem;
  }

  .about-me-head {
    padding-inline: 5.75rem;
    padding-bottom: 5.75rem;
  }

  .about-me-content {
    gap: 5.75rem;
  }
  .about-me-img {
    width: 15.625rem;
    height: 15.625rem;
  }
  .projects-header {
    padding-inline: 5.75rem;
  }
  .see-more-button {
    font-size: clamp(14px, 2vw, 18px);
  }
  .contact-me {
    padding-block: 5.75rem;
    padding-inline: 5.75rem;
    border-radius: 4.125rem;
  }
  .sen-message-button {
    font-size: clamp(14px, 2vw, 18px);
  }

  .explication-projects-container {
    padding-block: 92px;
    padding-inline: 92px;
    border-radius: 4.125rem;
  }

  .explication-head {
    margin-bottom: 5.75rem;
  }
  /* tamaños de las tarjetas */
  .explication-tarjeta.wide {
    grid-column: span 2;
  }
  .explication-tarjeta.tall {
    grid-row: span 2;
  }
  .explication-tarjeta.big {
    grid-column: span 2;
    grid-row: span 2;
  }
  .explication-tarjeta.xxl {
    grid-column: span 2;
    grid-row: span 3;
  }
  .explication-tarjeta.tallxxl {
    grid-column: span 2;
    grid-row: span 6;
  }
  .home-title {
    font-size: clamp(48px, 8vw, 140px);
    -webkit-text-stroke: 3.5px var(--third-color);
  }
  .home-subtitle {
    font-size: clamp(28px, 4vw, 45px);
    -webkit-text-stroke: 3.5px var(--third-color);
  }
  .home-description {
    font-size: clamp(18px, 2vw, 24px);
  }
  .about-me-subtitle {
    font-size: clamp(16px, 2vw, 40px);
    -webkit-text-stroke: 3.5px var(--third-color);
  }
  .about-me-title {
    font-size: clamp(36px, 6vw, 70px);
    -webkit-text-stroke: 3.5px var(--third-color);
  }
  .about-me-text {
    font-size: clamp(14px, 2vw, 18px);
  }
  .explication-subtitle {
    font-size: clamp(16px, 2vw, 40px);
    -webkit-text-stroke: 3.5px var(--third-color);
  }
  .explication-title {
    font-size: clamp(36px, 6vw, 70px);
    -webkit-text-stroke: 3.5px var(--third-color);
  }
  .explication-text {
    font-size: clamp(14px, 2vw, 18px);
  }
  .footer-subtitle {
    font-size: clamp(16px, 2vw, 45px);
    -webkit-text-stroke: 3.5px var(--third-color);
  }
  .footer-title {
    font-size: clamp(36px, 6vw, 140px);
    -webkit-text-stroke: 3.5px var(--third-color);
  }
  .footer-content {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    align-content: flex-end;
    align-items: center;
    justify-content: right;
    gap: 32px;
  }
  .footer-license {
    text-align: right;
  }
  .footer-licence a {
    color: var(--third-color);
    text-decoration: none;
    font-size: clamp(12px, 2vw, 14px);
    font-weight: 700;
  }
  .footer-licence a:hover {
    color: var(--fourth-color);
  }
  .main-footer {
    flex-direction: row;
    padding: 4rem 6rem;
    border-top-left-radius: 4.125rem;
    border-top-right-radius: 4.125rem;
  }
}
/* Estilos para pantallas grandes */

/* Pantallas medianas */
@media (max-width: 1023px) and (min-width: 772px) {
  .main-header {
    padding: 2rem 4rem;
  }

  .main-nav {
    width: 100%;
    max-width: 31.25rem;
    margin: 0 auto;
  }

  .home {
    padding: 8rem 6rem;
  }

  main {
    margin: 92px 6.5rem;
  }

  .main-nav {
    gap: 4rem;
  }

  .about-me {
    padding-block: 5.75rem;
    border-radius: 4.125rem;
  }

  .about-me-head {
    padding-inline: 5.75rem;
    padding-bottom: 5.75rem;
  }

  .about-me-content {
    gap: 5.75rem;
  }

  .about-me-img {
    width: 15.625rem;
    height: 15.625rem;
  }

  .projects-header {
    padding-inline: 5.75rem;
  }

  .see-more-button {
    font-size: clamp(14px, 2vw, 18px);
  }

  .contact-me {
    padding-block: 5.75rem;
    padding-inline: 5.75rem;
    border-radius: 4.125rem;
  }
  .explication-projects-container {
    padding-block: 92px;
    padding-inline: 92px;
    border-radius: 4.125rem;
  }

  .explication-head {
    margin-bottom: 5.75rem;
  }

  /* tamaños de las tarjetas */
  .explication-tarjeta.wide {
    grid-column: span 2;
  }
  .explication-tarjeta.tall {
    grid-row: span 2;
  }
  .explication-tarjeta.big {
    grid-column: span 2;
    grid-row: span 3;
  }
  .explication-tarjeta.xxl {
    grid-column: span 2;
    grid-row: span 2;
  }
  .explication-tarjeta.tallxxl {
    grid-column: span 2;
    grid-row: span 5;
  }

  .home-title {
    font-size: clamp(48px, 8vw, 140px);
    -webkit-text-stroke: 3.5px var(--third-color);
  }
  .home-subtitle {
    font-size: clamp(28px, 4vw, 45px);
  }
  .home-description {
    font-size: clamp(18px, 2vw, 24px);
  }
  .about-me-subtitle {
    font-size: clamp(16px, 2vw, 40px);
  }
  .about-me-title {
    font-size: clamp(36px, 6vw, 70px);
    -webkit-text-stroke: 3.5px var(--third-color);
  }
  .about-me-text {
    font-size: clamp(14px, 2vw, 18px);
  }
  .explication-subtitle {
    font-size: clamp(16px, 2vw, 40px);
  }
  .explication-title {
    font-size: clamp(36px, 6vw, 70px);
    -webkit-text-stroke: 3.5px var(--third-color);
  }
  .explication-text {
    font-size: clamp(14px, 2vw, 18px);
  }
  .footer-subtitle {
    font-size: clamp(16px, 2vw, 45px);
  }
  .footer-title {
    font-size: clamp(36px, 6vw, 140px);
    -webkit-text-stroke: 3.5px var(--third-color);
  }
  .main-footer {
    flex-direction: row;
    padding: 4rem 6rem;
    border-top-left-radius: 4.125rem;
    border-top-right-radius: 4.125rem;
  }
  .footer-content {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    align-content: flex-end;
    align-items: center;
    justify-content: right;
    gap: 32px;
  }
  .footer-license {
    text-align: right;
  }
}
/* Pantallas medianas */

/* Pantallas pequeñas */
@media (max-width: 771px) {
  .main-header {
    flex-direction: column;
    gap: 2rem;
    padding: 2rem;
  }

  .main-nav {
    display: none;
  }

  .home {
    padding: 2rem 0;
  }

  main {
    margin: 92px 1rem;
  }

  .main-nav {
    display: none;
  }

  .about-me {
    padding-block-start: 2.75rem;
    padding-block-end: 1.5rem;
    border-radius: 3.125rem;
  }

  .about-me-head {
    padding-inline: 2.75rem;
    margin-bottom: 2.75rem;
  }

  .about-me-content {
    gap: 2.5rem;
  }

  .about-me-img {
    width: 10.625rem;
    height: 10.625rem;
  }

  .projects-header {
    padding-inline: 2.75rem;
  }

  .see-more-button {
    font-size: clamp(14px, 2vw, 18px);
  }

  .contact-me {
    padding-block-end: 1.5rem;
    padding-block-start: 2.75rem;
    padding-inline: 2.75rem;
    border-radius: 3.125rem;
  }

  .send-message-button {
    font-size: clamp(14px, 2vw, 18px);
  }

  .explication-projects-container {
    margin-top: 110px;
    padding-block: 2.75rem;
    padding-inline: 2.75rem;
    border-radius: 3.125rem;
  }

  .explication-head {
    margin-bottom: 2.75rem;
  }

  .home-title {
    font-size: clamp(48px, 8vw, 140px);
    -webkit-text-stroke: 3.5px var(--third-color);
  }
  .home-subtitle {
    font-size: clamp(15px, 4vw, 45px);
  }
  .home-description {
    font-size: clamp(14px, 2vw, 24px);
  }
  .about-me-subtitle {
    font-size: clamp(16px, 2vw, 40px);
  }
  .about-me-title {
    font-size: clamp(36px, 6vw, 70px);
    -webkit-text-stroke: 3.5px var(--third-color);
  }
  .about-me-text {
    font-size: clamp(12px, 2vw, 18px);
  }
  .sen-message-button {
    font-size: clamp(14px, 2vw, 18px);
  }
  .explication-subtitle {
    font-size: clamp(16px, 2vw, 40px);
  }
  .explication-title {
    font-size: clamp(36px, 6vw, 70px);
    -webkit-text-stroke: 3.5px var(--third-color);
  }
  .explication-text {
    font-size: clamp(14px, 2vw, 18px);
  }
  /* tamaños de las tarjetas */
  .explication-tarjeta.wide {
    grid-column: span 2;
  }
  .explication-tarjeta.tall {
    grid-row: span 2;
  }
  .explication-tarjeta.big {
    grid-column: span 2;
    grid-row: span 2;
  }
  .explication-tarjeta.xxl {
    grid-column: span 2;
    grid-row: span 1;
  }
  .explication-tarjeta.tallxxl {
    grid-column: span 2;
    grid-row: span 4;
  }

  .footer-subtitle {
    font-size: clamp(16px, 2vw, 45px);
  }
  .footer-title {
    font-size: clamp(36px, 6vw, 140px);
    -webkit-text-stroke: 3.5px var(--third-color);
  }

  .main-footer {
    flex-direction: column;
    padding: 4rem;
    text-align: center;
    gap: 40px;
    border-top-left-radius: 3.125rem;
    border-top-right-radius: 3.125rem;
  }

  .footer-content {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    justify-content: right;
    gap: 32px;
    align-items: center;
  }

  .footer-socials {
    gap: 2rem;
    justify-content: center;
  }
  .footer-license {
    text-align: center;
  }
}

/* Pantallas pequeñas */
