/* menú navegación */
.main-nav {
  display: flex;
  justify-content: center;
  align-items: center;
  padding-left: 3rem;
  padding-right: 3rem;
  border: 3.5px solid var(--third-color);
  border-radius: 4.125rem;
  max-width: 40.625rem;
  height: 3.438rem;
  box-shadow: 0 2px 8px var(--third-color);
  background-color: var(--first-color);
  flex-wrap: wrap;
}

.main-nav ul {
  display: flex;
  list-style: none;
  gap: clamp(1rem, 8vw, 7.75rem);
  margin: 0;
  padding: 0;
  justify-content: center;
  width: 100%;
}

/* .main-nav li {
  margin-right: 100px;
} */

.main-nav a {
  text-decoration: none;
  font-weight: 700;
  transition: color 0.3s ease;
  font-size: clamp(12px, 2vw, 14px);
  color: var(--third-color);
}

.main-nav a:hover {
  color: var(--fourth-color);
}
/* menú navegación */
